* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-size: 1rem;
	text-align: center;
}

body {
	color: #333333;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
}

h1 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 57px;
	font-size: 3.57143rem;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 42px;
	}
}

h2 {
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-size: 2.57143rem;
	font-weight: 300;
	margin-bottom: 2rem;
	text-transform: lowercase;
}

h4 {
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 2rem;
	text-transform: lowercase;
	margin-bottom: 0px;
}

h4 span {
	color: #333333;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1rem;
	font-weight: 300;
	margin-bottom: 2rem;
	text-transform: lowercase;
	margin-bottom: 0px;
}

section {
	padding: 5% 0;
}

a {
	color: #F58233;
}

p {
	color: #888;
	font-weight: 300;
}


.mui-btn-danger {
	background: #F58233;
}

.mui-btn-danger:hover {
	background: #da742d;
}

.header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.offwhite {
	background-color: #f6f6f6;
	padding: 8% 0;
}

.mui-appbar {
	background-color: #ffffff;
}
.logo{
	float: left;
}
.hippo {

}

.menu-button,
.menu-button:active,
.menu-button:hover,
.menu-button:focus,
.menu-button:visited {
	color: #00a5e3;
	text-decoration: none;
}

nav.mui-appbar ul {
	margin: 0;
}

nav.mui-appbar ul li {
	border-bottom: 4px solid transparent;
}

nav.mui-appbar ul a,
nav.mui-appbar ul a:visited {
	color: #333333;
	display: inline-block;
	font-weight: 300;
	padding: 0px 15px;
	text-decoration: none;
	text-transform: lowercase;
}

nav.mui-appbar ul a:active,
nav.mui-appbar ul a:hover,
nav.mui-appbar ul a:focus {
	color: #00a5e3;
	text-decoration: none;
}

nav.mui-appbar ul li.active {
	border-color: #00a5e3;
	background: #00a5e3;
	color: #fff;
}

nav.mui-appbar ul li.active a {
	color: #fff;
}

#sidedrawer {
	background-color: #ffffff;
	bottom: 0;
	left: -200px;
	overflow: auto;
	position: fixed;
	top: 0;
	transition: left .2s;
	width: 200px;
	z-index: 2;
}

#sidedrawer.active {
	left: 0;
}
#sidenav {
	text-align: left;
}

#sidenav h2 {
	padding-left: 22px;
	margin: 0;
}

#sidenav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidenav li {
	padding: 15px 22px;
}

#sidenav ul a,
#sidenav ul a:visited {
	color: #333333;
	font-weight: 300;
	text-decoration: none;
	text-transform: lowercase;
}

#sidenav ul a:active,
#sidenav ul a:hover,
#sidenav ul a:focus {
	color: #00a5e3;
	text-decoration: none;
}

#sidenav ul li.active a {
	color: #00a5e3;
}

.bg-section {
	background-image: url('../img/header-image2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	left: 0;
	overflow: hidden;
	position: relative;
	top: 0;
}

.bg-section .mui-container {
	margin-top: 8%;
}

.bg-section h1 {
	margin-bottom: 0rem;
	margin-top: 0.67em;
	text-shadow: 1px 1px 3px #333333;
}
.bg-section h2 {
	margin-top: 0rem;
	text-shadow: 1px 1px 1px #363636;
}

.bg-section p {
	color: #ffffff;
	font-size: 17px;
	font-size: 1.21429rem;
	text-shadow: 1px 1px 3px #333333;
}

.mui-container {
	overflow: hidden;
}


/* Home section */
#home {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0%;
}
.home-container {
	margin: 0 -100px;
}
#home p {
	color: #fff;
	text-shadow: 1px 1px 1px black;
}
#home h1 {
	text-shadow: 1px 1px 1px black;
}
#home h2 {
	color: #fff;
	font-size: 24px;
	text-shadow: 1px 1px 1px black;
	background: rgba(0,0,0, 0.6);
	transform: skew(-10deg);
	margin: 5px auto 25px;
	width: 50%;
}
@media only screen and (max-width: 1200px) {
	#home h2 {
		width: 100%;
	}
}
.unskew {
	transform: skew(10deg);
}
.text-center {
	position: absolute;
	width: 100%;
	height: 600px;
	left: 50%;
	margin: 0  -50%;
	pointer-events: none;
}
.home-text {
	margin: 10% 20%;
	padding: 10px;
	/*border: 1px solid #fff;*/
	pointer-events: all;
}
@media only screen and (min-width: 1600px) {
	.home-text {
		margin: 8% 25%;
	}
}
@media only screen and (max-width: 640px) {
	.home-text {
		margin: 10% 10%;
	}
}
/*Subscriber*/
.subscriber {
	width: 80px;
	height: 40px;
	position: fixed;
	right: 0;
	top: 30%;
	background: #F58233;
	color: #fff;
	border-radius:10px  0  0 10px;
	line-height: 35px;
	margin: 0;
	padding: 0;
	display: none;
	z-index: 999;
}


/* Program section */
#program {
	text-align: left;
	font-weight: 300;
	padding: 5% 0;
}
@media only screen and (max-width: 740px) {
	#program td span {
		display: none;
	}
}
#program h2 {
	text-align: center;
}


/*Speakers section*/
#speakers .offset {
	margin-top: 2em;
}
#speakers img {
	border-radius: 50%;
	width: 200px;
	border: 10px solid #F58233;
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#speakers h4 {
	margin: 1em;
}
#speakers a:hover {
	text-decoration: none;
	color: none;
}
#speakers img:hover {

}
#speakers .altcol {
	border: 10px solid #00a5e3;
}
#speakers .nocol {
	border: none;
	border-radius: 0%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.imgcontainer {
	width: 100%;
	height: 200px;
}
@media screen and (max-width: 768px) {
	#speakers p {
		margin: 0 4em 10px;
	}
}

/* Location section */
#location-map {
	height:650px;
	width:100%;
}
/* Contact section */
#contact {
	background: #fff;
	color: #333;
	font-weight: 300;
}
.spacer {
	margin-top: 2rem;
}
/* Footer section */
#footer {
	background: #00a5e3;
	padding: 0;
}
#footer p {
	color: #fff;
	line-height: 30px;
	margin: 0;
	padding: 10px 0;
}
#footer a {
	color: #fff;
	font-weight: bold;
}

tbody > tr > td:nth-child(2) {
	background: #F58233;
	color: #fff;
	font-weight: 400;
}
tbody > tr > td:nth-child(2) {
/*	background: #FFC9A4;
	font-weight: 400;*/
}
.homepage-left {
	width: 50%;
	float: left;
	height: 600px;
	transform: skewX(-10deg);
	background:black;
	border-right: 1px solid rgba(255,255,255, 1);
	overflow: hidden;
    	position: relative;
    	transition: all 0.3s;
}
.homepage-left:before {
	background: url(../img/header-img-incentro.jpg);
	-webkit-transform: skewX(10deg);
	-moz-transform: skewX(10deg);
	transform: skewX(10deg);	
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	content: '';
	display: block;
	opacity: 0.8;
	position: absolute;
	left: 30px;
	top: 0;
	width: 110%;
	height: 110%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
}
.homepage-left:hover:before {
	width: 112%;
	height: 112%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.homepage-left:hover {
	background: white;
}
.homepage-right {
	background: black;
	width: 50%;
	float: right;
	height: 600px;
	transform: skewX(-10deg);
	overflow: hidden;
	position: relative;
	transition: all 0.3s;	
}
.homepage-right:before {
	background: url(../img/header-img-hippo.png);
	-webkit-transform: skewX(10deg);
	-moz-transform: skewX(10deg);
	transform: skewX(10deg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	content: '';
	display: block;
	opacity: 0.8;
	position: absolute;
	left: -100px;
	top: 0;
	width: 110%;
	height: 110%;	
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.homepage-right:hover {
	background: white;
}
.homepage-right:hover:before {
	width: 112%;
	height: 112%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
