* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
}
body {
  color: #333333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
h1 {
  color: #fff;
  font-family: 'Lobster', sans-serif;
  font-size: 57px;
  font-size: 3.57143rem;
  font-weight: 400;
  line-height: normal;
}

h2 {
  color: #333333;
  font-family: 'Lobster', sans-serif;
  font-size: 36px;
  font-size: 2.57143rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

a {
  color: #F58233;
}
p {
  color: #888;
  font-weight: 300;
  line-height: 1.8;
}

/*Buttons*/


.btn {
  display: block;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  max-width: 400px;
  background:#ff7d00;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  font-weight:700;
  pointer-events: auto;
  margin: 0 auto;
}
.btn:hover, .btn:active, .btn:focus {
  background:#CC4949;
  color: white;
  text-decoration: none;
}

.mui-btn-danger {
  background: #F58233;
}
.mui-btn-danger:hover {
  background: #da742d;
}

/*Globals*/

.header {
  /*left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;*/
}
.mui-appbar {
  background-color: #ffffff;
}
.mui-container {
  overflow: hidden;
}
.logo {
  float: left;
}

.logo-center {
  float: none;
}

.menu-button, .menu-button:active, .menu-button:hover, .menu-button:focus, .menu-button:visited {
  color: #00a5e3;
  text-decoration: none;
}
nav.mui-appbar ul {
  margin: 0;
}
nav.mui-appbar ul li {
  border-bottom: 4px solid transparent;
}
nav.mui-appbar ul a, nav.mui-appbar ul a:visited {
  color: #333333;
  display: inline-block;
  font-weight: 300;
  padding: 0 15px;
  text-decoration: none;
  text-transform: lowercase;
}
nav.mui-appbar ul a:active, nav.mui-appbar ul a:hover, nav.mui-appbar ul a:focus {
  color: #00a5e3;
  text-decoration: none;
}
nav.mui-appbar ul li.active {
  border-color: #00a5e3;
  background: #00a5e3;
  color: #fff;
}
/*.mui-appbar-height {
  height: 0;
}*/
nav.mui-appbar ul li.active a {
  color: #fff;
}
.mui-list-inline>li {
  padding: 0 3px;
}
#sidedrawer {
  background-color: #ffffff;
  bottom: 0;
  left: -200px;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: left .2s;
  width: 200px;
  z-index: 2;
}
#sidedrawer.active {
  left: 0;
}
#sidenav {
  text-align: left;
}
#sidenav h2 {
  padding-left: 22px;
  margin: 0;
}
#sidenav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidenav li {
  padding: 15px 22px;
}
#sidenav ul a, #sidenav ul a:visited {
  color: #333333;
  font-weight: 300;
  text-decoration: none;
  text-transform: lowercase;
}
#sidenav ul a:active, #sidenav ul a:hover, #sidenav ul a:focus {
  color: #00a5e3;
  text-decoration: none;
}
#sidenav ul li.active a {
  color: #00a5e3;
}

/*Start Custom*/

section {
  padding: 50px 0;
}

.offwhite {
  background-color: #f6f6f6;
}
.icon {
  text-align: center;
}
.icon img {
  width: 80px;
}


/* Home section */

#header {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
}
.header-container {
  margin: 0 -100px;
}
.header-img {
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image:url("../img/HeaderBg2.jpg");
}
.header-img:after {
  background: url(../img/HeaderBg2.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  width: 110%;
  height: 110%;

}
.text-center {
  width: 100%;
  pointer-events: none;
}
.header-title {
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 6em;
  text-transform: none;
}
.header-tagline {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: #fff;
}
.header-subtitle {
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 3em;
  text-transform: none;
}

.header p {
  color: #fff;
  font-size: 1.1em;

}
@media only screen and (max-width: 640px) {
  .header-title {
    font-size: 4.5em;
  }
  .header p {
    font-size: 0.9em;
  }
}


.home-text {
  margin: 10% 20%;
  padding: 10px;
}
@media only screen and (min-width: 1600px) {
  .home-text {
    margin: 8% 25%;
  }
}

.intro-bullets {
  text-align: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #888;
  font-weight: 300;
  line-height: 1.8;
}


ul.intro-bullets {
  list-style: none;
  padding:0;
}

ul.intro-bullets li {
  padding-left: 1em;
  text-indent: -.5em;
}

ul.intro-bullets li:before {
  content: "• ";
  color: #F58233;
  font-weight: bold;
  padding-right: 3px;
}



/*Subscriber*/

.subscriber {
  width: 110px;
  height: 40px;
  position: fixed;
  right: 0;
  top: 30%;
  background: #F58233;
  color: #fff;
  border-radius: 2px 0 0 2px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  display: none;
  z-index: 999;
  -webkit-animation-duration: 0;
  -o-animation-duration: 0;
  animation-duration: 0;
  webkit-animation-name: none;
  animation-name: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

/* Program section */

#program {
  padding: 0;
}

.program {
  text-align: left;
  font-weight: 300;
}
.program h2 {
  text-align: center;
}
@media only screen and (max-width: 740px) {
  .program td span {
    display: none;
  }
}


/*Speakers section*/

#speakers .offset {
  margin-top: 2em;
}
#speakers img {
  border-radius: 50%;
  width: 200px;
  border: 10px solid #F58233;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#speakers h4 {
  margin: 1em;
}
#speakers a:hover {
  text-decoration: none;
  color: none;
}
#speakers img:hover {}
#speakers .altcol {
  border: 10px solid #00a5e3;
}
#speakers .nocol {
  border: none;
  border-radius: 0%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.imgcontainer {
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 768px) {
  #speakers p {
    margin: 0 4em 10px;
  }
}
#date {
  background: #00a5e3;
  padding: 10% 0;
}
#date h2 {
  color: #fff;
  margin: 0;
}
#date h2 span {
  border-bottom: 1px solid #efefef;
  color: #333;
  display: block;
  margin-top: 14px;
  padding: 20px 0;
  width: 75%;
  margin: 0 auto;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
#date .mui-btn-danger {
  color: #000;
  background: #fff;
}
#date .mui-btn-danger:hover {
  color: #fff;
  background: #000;
}
#event-countdown {
  font-size: 14px;
  margin: 10px 0;
}

/* Organisation */

.cards {
  display: block;
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin:20px 0 25px 0;
}

a.cards:hover, a.cards:active, a.cards:focus {
  text-decoration: none;
}
a.cards:hover h3, a.cards:active h3, a.cards:focus h3 {
  text-decoration: underline;
}
.card_incentro {
  border: 2px solid orange;
}
.card_hippo {
  border: 2px solid #0bb2e8;
}
.card_crossphase {
  border: 2px solid grey;
}

.cards__image {
}
.cards__image img {
  width: 100%;
}

/* Contact section */


/* Footer section */

#footer {
  background: #00a5e3;
  padding: 0;
}
#footer p {
  color: #fff;
  line-height: 30px;
  margin: 0;
  padding: 10px 0;
}
#footer a {
  color: #fff;
  font-weight: bold;
}
tbody > tr > td:nth-child(2) {
  background: #88bbda;
  color: #fff;
  font-weight: 400;
}
tbody > tr > td:nth-child(2) {
  /*	background: #FFC9A4;
	font-weight: 400;*/
}


/*contact form*/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*body { background:rgb(30,30,40); }*/
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:grey;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #ff7d00;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  width: 95%;
  background:#ff7d00;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  /*margin-top: 15px;*/
  margin-right: 8px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

.hs-error-msgs {
  list-style: none;
  padding: 0;
  font-size: .8em;
  color: red;
}

.hs-form fieldset {
  margin: 10px 0 !important;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #888;
}

.hs-form label span {
  font-weight: 300;
}

.hs-form-required {
  font-size: .6em;
  vertical-align: super;
}

input[type="text"], input[type="email"], textarea {
  color: black;
}

/*event images*/

#images {
  padding: 0% 0 15%;
}

.cbp-rfgrid {
  margin: 35px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;
}
.cbp-rfgrid li {
  position: relative;
  float: left;
  overflow: hidden;
  width: 33.3333334%;
  /* Fallback */
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
}
.cbp-rfgrid li a, .cbp-rfgrid li a img {
  display: block;
  width: 100%;
  cursor: pointer;
}
.cbp-rfgrid li a img {
  max-width: 100%;
}

/* Flexbox is used for centering the heading */

.cbp-rfgrid li a div {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(33, 150, 243, 0.8);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.cbp-rfgrid li a:hover div {
  opacity: 1;
}
.cbp-rfgrid li a div h3 {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 2px;
  padding: 0 10px;
  -webkit-transition: 10px 0.2s;
  -o-transition: 10px 0.2s;
  transition: 10px 0.2s;
}

/* Example for media query: change number of items per row */

@media screen and (max-width: 1190px) {
  .cbp-rfgrid li {
    width: 50%;
    /* Fallback */
    width: -webkit-calc(100% / 2);
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 945px) {
  .cbp-rfgrid li {
    width: 100%;
    /* Fallback */
    width: -webkit-calc(100% / 1);
    width: calc(100% / 1);
  }
}
