.timeline-wrapper {
  font-family: 'Raleway', sans-serif;
  color: #333;
  margin: 0;
  padding: 4em 0 4em 0;
  position: relative;
  background: #a8d4ef; /* Old browsers */
  background: -moz-linear-gradient(top,  #f6f6f6 0%, #a8d4ef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f6f6f6 0%,#a8d4ef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f6f6f6 0%,#a8d4ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#a8d4ef',GradientType=0 ); /* IE6-9 */

}

.timeline {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  z-index: 1;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(255, 255, 255);
}

.timeline li {
  padding: 1em 0;
}

.timeline .hexa {
  width: 16px;
  height: 16px;
  position: absolute;
  background: #f58233;
  left: 0;
  right: 0;
  border-radius: 5em;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #f58233;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #f58233;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255, 255, 255);
  font-weight: 600;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 10px 10px 20px 10px;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #f58233;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
}

.desc {
  position: relative;
  margin: .7em 0 0 0;
  padding: 1em;
  background: rgb(254, 254, 254);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
  z-index: 1;
  border-radius: .5em;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: .7em 1em 0 1em;
  padding: 1em;
  z-index: 1;
}

@media(min-width: 768px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
  }
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }
  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }
  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }
  .flag-wrapper {
    display: inline-block;
  }
  .flag {
    font-size: 18px;
  }
  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254, 254, 254);
    border-width: 8px;
  }
  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }
  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0 10px 0 10px;
  }
  .direction-l .time-wrapper {
    float: left;
  }
  .direction-r .time-wrapper {
    float: right;
  }
  .time {
    padding: 5px 10px;
  }
  .direction-r .desc {
    margin: .7em 0 0 0.75em;
  }
}

@media(min-width: 992px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
  }
  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }
  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}


/*Mountains*/

.mountains {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}


.mountain,
.mountain-two,
.mountain-three {
  position: absolute;
  bottom: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 360px solid #7ac1e4;
  z-index: 1;
}

.mountain-two {
  left: 80px;
  opacity: .3;
  z-index: 0;
}

.mountain-three {
  left: -60px;
  opacity: .5;
  z-index: 0;
}

.mountain-top {
  position: absolute;
  right: -85px;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
  border-bottom: 101px solid #ceeaf6;
  z-index: 1;
}

.mountain-cap-1,
.mountain-cap-2,
.mountain-cap-3 {
  position: absolute;
  top: 90px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #ceeaf6;
}

.mountain-cap-1 {
  left: -65px;
}

.mountain-cap-2 {
  left: -35px;
}

.mountain-cap-3 {
  left: -5px;
}
